@import url("https://d2ta2fpo91apla.cloudfront.net/fontawesome-free-5.9.0-web/css/all.min.css");
@import url("https://fonts.googleapis.com/css?family=Pacifico|Poppins:300,400,700|Raleway:300,400,600&display=swap");
html, body {
  height: 100%;
  margin: 0;
  max-width: 2000px;
  margin: 0 auto;
  min-height: 100px;
  -webkit-overflow-scrolling: touch;
  color: #263238; }

/**********Universal*****************/
.bg-white {
  background-color: #fff; }

p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  margin: 10px 0; }

p span, p a, a {
  color: #263238; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 20px;
  color: #263238; }

h1 {
  z-index: 1;
  font-size: 50px; }
  @media (max-width: 767px) {
    h1 {
      font-size: 40px; } }
  @media (min-width: 990px) and (max-width: 1200px) {
    h1 {
      font-size: 43px; } }

h2 {
  font-size: 40px; }
  @media (max-width: 990px) {
    h2 {
      font-size: 30px; } }

h3 {
  font-size: 30px;
  font-weight: 300; }

.pic-frame img {
  position: absolute; }

.responsive-img img {
  width: 100%;
  height: auto; }

@media (max-width: 767px) {
  .fit {
    padding: 0; } }

.fit img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%; }

.text-uppercase {
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold; }

.container {
  position: relative;
  z-index: 1; }

/**********media *****************/
@media (min-width: 768px) {
  .height {
    height: 100vh; } }
@media (min-width: 1200px) {
  .container {
    max-width: 1240px; } }

.page-wrapper {
  overflow-x: hidden;
  overflow-y: hidden; }

/**********Universal*****************/
.cover {
  width: 100%;
  height: 100%;
  position: absolute; }

.clip-me {
  background-color: #263238;
  padding: 0; }

/**********Universal feature*****************/
@media (min-width: 768px) {
  .feature-cont {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); } }
.feature-cont .img-area {
  overflow: hidden; }
.feature-cont .text-area {
  padding: 20px 40px;
  background-color: #fff; }

a.circle {
  position: absolute;
  right: 20px;
  bottom: -30px;
  display: flex;
  width: 60px;
  height: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100%;
  background-color: #ffa9a7;
  color: #fff;
  transition: all .5s ease-in-out;
  z-index: 2; }
  a.circle:hover {
    text-decoration: none;
    background-color: #263238;
    right: -10px; }

/*************start******************/
.navbar {
  background-color: #d4e8e2; }
  .navbar a {
    color: #000; }
  .navbar a:hover {
    color: #a3a3a3 !important; }
  .navbar svg {
    height: 80px; }
  .navbar .logo-circle {
    fill: #fff; }

.navbar-light .navbar-toggler {
  border: none; }

.hero {
  padding-top: calc(100px);
  position: relative; }
  .hero::before, .hero::after {
    display: block;
    position: absolute;
    content: '';
    z-index: -1; }
  @media (max-width: 990px) {
    .hero .hero-intro {
      padding-bottom: 40px; } }
  .hero .small-text {
    font-family: "Pacifico", cursive;
    font-size: 1.7em;
    color: #ffa9a7;
    letter-spacing: 2px; }
  .hero .text-area {
    background-color: #d9d9d9; }
    @media (min-width: 768px) {
      .hero .text-area {
        background-color: #fff; } }
  .hero::before {
    width: 100%;
    height: calc(100% - 100px);
    background-color: #d4e8e2;
    top: 0px; }
  .hero h1 {
    z-index: 1; }
    .hero h1::after {
      content: 'your';
      position: relative;
      top: 0;
      display: none;
      font-size: 11vw;
      font-family: "Pacifico", cursive;
      color: #a6cfc2;
      font-weight: lighter;
      z-index: -10;
      line-height: 0; }
      @media (min-width: 1060px) {
        .hero h1::after {
          display: block;
          top: -40px;
          position: absolute;
          left: -40px; } }

/**********intro*****************/
.usp {
  padding: 6% 0 4% 0; }
  .usp h4, .usp p {
    text-align: center;
    color: #263238; }
  .usp h4 {
    padding: 20px 10px 10px;
    font-weight: bold;
    font-size: 1em; }
  .usp h4 span {
    border: 1.5px solid #263238;
    padding: 8px; }
  .usp b {
    padding: 8px;
    border: 1.5px solid #263238;
    border-right: 0; }
  .usp figure {
    max-width: 200px;
    padding: 20px;
    margin: 0 auto; }
    .usp figure svg {
      fill: #263238;
      overflow: visible; }
    .usp figure .green {
      fill: #92c4b5;
      animation: move-one 10s ease-in-out infinite; }
    .usp figure .pink {
      fill: #ffa9a7;
      animation: move-two 10s ease-in-out infinite; }
    .usp figure .gold {
      fill: #F8BF75;
      animation: move-three 10s ease-in-out infinite; }
    .usp figure .pink,
    .usp figure .gold,
    .usp figure .green {
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      z-index: -1;
      transform-origin: 50% 50%; }
  @media (max-width: 990px) and (min-width: 768px) {
    .usp .container {
      max-width: 100%; } }
  @media (min-width: 1200px) {
    .usp p {
      padding: 0 20px; } }

#intro {
  position: relative;
  z-index: 1;
  margin: 6% 0; }
  #intro .container-fluid {
    padding: 8% 4%; }
  @media (max-width: 767px) {
    #intro .container-fluid > .row {
      flex-direction: column-reverse; } }
  #intro .row.inner {
    padding: 8%; }
    @media (min-width: 1200px) {
      #intro .row.inner {
        padding: 0;
        padding-left: 8%; } }
  #intro h2, #intro p {
    color: #fff;
    padding-bottom: 8%; }
    @media (max-width: 1200px) and (min-width: 990px) {
      #intro h2, #intro p {
        max-width: 80%;
        margin: 0 auto; } }
  #intro .text-area p {
    color: #263238; }
  #intro .small-text {
    font-family: "Pacifico", cursive;
    font-weight: lighter;
    font-size: 1.7em;
    color: #92c4b5;
    letter-spacing: 2px;
    font-size: 9vw;
    position: absolute;
    top: -100px;
    z-index: 2; }
  #intro::after {
    display: block;
    position: absolute;
    content: '';
    z-index: -1;
    background-color: #263238;
    width: calc(100% - 8%);
    left: 0;
    right: 8%;
    height: 100%;
    top: 0; }
    @media (max-width: 1200px) {
      #intro::after {
        width: 100%;
        left: 0; } }

.products {
  padding-top: 6%;
  padding-bottom: 8%; }
  .products .img-fluid {
    max-width: 70% !important; }
  .products h2 {
    position: relative;
    padding-top: 40px;
    padding-bottom: 8%;
    z-index: 1; }
    .products h2::after {
      content: 'your style';
      position: absolute;
      top: 0;
      display: block;
      font-size: 10vw;
      font-family: "Pacifico", cursive;
      font-weight: lighter;
      color: #ffc7c6;
      z-index: -10;
      line-height: 0;
      width: 100%; }
      @media (min-width: 768px) {
        .products h2::after {
          top: -40px; } }
  .products h4 {
    line-height: 50px;
    font-weight: bold;
    font-size: 1em; }
  .products h4 span {
    border: 1.5px solid #263238;
    padding: 8px 12px 8px; }
  .products b {
    padding: 8px;
    border: 1.5px solid #263238;
    border-right: 0; }
  .products h4 .fas {
    padding-left: 10px; }
  .products a {
    background-color: #fff; }
    .products a span, .products a b {
      transition: all .5s ease-in-out; }
    .products a:hover {
      text-decoration: none; }
      .products a:hover span, .products a:hover b {
        color: #fff;
        transition: all .5s ease-in-out;
        background-color: #92c4b5; }

.full-img-feature .fit {
  max-height: 80vh;
  padding: 0;
  overflow: hidden; }

.touch .testimonials .scroll-left {
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important; }
  .touch .testimonials .scroll-left div {
    padding-bottom: 30px; }

.testimonials {
  position: relative;
  background-color: #263238; }
  .testimonials h2 {
    color: #fff; }
  .testimonials .row:first-of-type {
    color: #fff;
    padding: 12% 0 8%; }
    .testimonials .row:first-of-type p {
      max-width: 800px;
      margin: 0 auto; }
  .testimonials .scroll-left {
    padding-bottom: 4%; }
    .testimonials .scroll-left div {
      background-color: #92c4b5;
      margin-right: 20px;
      padding: 40px 60px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      @media (max-width: 767px) {
        .testimonials .scroll-left div {
          padding: 40px 20px; } }
      .testimonials .scroll-left div h3 {
        font-family: "Pacifico", cursive; }
      .testimonials .scroll-left div img {
        width: 80px; }
    .testimonials .scroll-left .pink {
      background-color: #ffa9a7; }
    .testimonials .scroll-left .other {
      padding: 0; }
      .testimonials .scroll-left .other img {
        width: 100%; }
    .testimonials .scroll-left .fas {
      color: #fff; }
    .testimonials .scroll-left .fa-quote-left {
      padding-right: 10px; }
    .testimonials .scroll-left .fa-quote-right {
      position: absolute;
      margin-left: 10px; }
    @media (min-width: 1020px) {
      .testimonials .scroll-left {
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important; } }
  .testimonials::after {
    display: block;
    position: absolute;
    content: '';
    background-color: #fff;
    width: 100%;
    height: 150px;
    left: 0;
    bottom: 0; }

.special-feature {
  background: #fff;
  padding-bottom: 8%;
  padding-top: 10%; }
  .special-feature .double-cont p {
    padding: 20px 0 40px; }
  @media (min-width: 768px) {
    .special-feature .double-cont {
      padding-left: 40px; } }
  .special-feature svg {
    z-index: -1;
    position: absolute;
    width: 400px;
    height: 400px;
    left: -150px;
    top: -150px;
    transform-origin: left;
    overflow: visible; }
    .special-feature svg .pink {
      fill: #ffa9a7;
      opacity: 0.8;
      animation: move-four 10s ease-in-out infinite;
      transform-origin: 50% 50%; }

@media (max-width: 992px) {
  .special-feature .container > .row {
    flex-direction: column-reverse; } }
.cta .small-text {
  font-size: 6vh;
  font-family: "Pacifico", cursive;
  color: #ffa9a7;
  text-align: center; }
.cta ul {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin-top: 20px;
  justify-content: center; }
  .cta ul li {
    padding-right: 40px; }
  .cta ul a:hover {
    color: #ffa9a7; }

#footer {
  padding: 4% 0 4%;
  /* FOOTER STYLES GENERAL--------*/ }
  #footer a:hover {
    text-decoration: none;
    color: #92c4b5; }
  #footer .coln p {
    font-size: 14px;
    padding: 14px 10px;
    margin: 0; }
  #footer .coln img {
    max-width: 200px;
    margin: 0 auto;
    width: 100%; }
  #footer .coln ul {
    padding-left: 0;
    margin: 16px 0;
    list-style: none; }
    #footer .coln ul li {
      padding: 10px 0; }
  #footer .coln {
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    padding: 0; }
  #footer .coln:last-of-type ul {
    padding-left: 16px; }
  #footer .coln:last-of-type ul li {
    display: inline-block;
    padding-right: 30px; }
  #footer .coln:last-of-type .row {
    border-left: 2px solid #333;
    height: 100%;
    width: 100%;
    margin: 0; }
  #footer .coln:last-of-type .row div:first-of-type {
    border-bottom: 2px solid #333; }
  @media (max-width: 990px) {
    #footer .box-grid {
      padding: 20px; }
    #footer .coln {
      text-align: center; }
    #footer .coln:first-of-type {
      padding: 20px; } }
  @media (max-width: 767px) {
    #footer .coln {
      text-align: center; }
    #footer .coln ul li {
      width: 100%; }
    #footer .coln {
      border-top: none; }
    #footer .coln:last-of-type .row {
      border-right: 2px solid #333; } }

.return {
  padding-bottom: 6%; }
  .return a {
    display: flex;
    justify-content: center; }
  .return p {
    display: block; }

@keyframes move-one {
  0% {
    transform: scale(1) translate(20px, -10px); }
  20% {
    transform: scale(0.8, 1) translate(-30px, 30px) rotate(160deg); }
  35% {
    transform: scale(0.8, 1) translate(-30px, 30px) rotate(160deg); }
  66% {
    transform: scale(1.1) translate(0px, 10px) rotate(-20deg); }
  86% {
    transform: scale(1.1) translate(0px, 10px) rotate(-20deg); }
  100% {
    transform: scale(1) translate(-30px, 60px); } }
@keyframes move-two {
  0% {
    transform: scale(1) translate(20px, -10px); }
  40% {
    transform: scale(0.8, 1) translate(-30px, 30px) rotate(160deg); }
  50% {
    transform: scale(0.8, 1) translate(-30px, 30px) rotate(160deg); }
  60% {
    transform: scale(1.1) translate(0px, 10px) rotate(-20deg); }
  80% {
    transform: scale(1.1) translate(0px, 10px) rotate(-20deg); }
  100% {
    transform: scale(1) translate(20px, -40px); } }
@keyframes move-three {
  0% {
    transform: scale(1) translate(20px, -10px); }
  38% {
    transform: scale(0.8, 1) translate(-30px, 30px) rotate(160deg); }
  40% {
    transform: scale(0.8, 1) translate(-30px, 30px) rotate(160deg); }
  78% {
    transform: scale(1.1) translate(0px, 10px) rotate(-20deg); }
  80% {
    transform: scale(1.1) translate(0px, 10px) rotate(-20deg); }
  100% {
    transform: scale(1) translate(10px, -60px); } }
@keyframes move-four {
  0% {
    transform: scale(1); }
  38% {
    transform: scale(0.8, 1) rotate(160deg); }
  60% {
    transform: scale(0.9, 1) rotate(140deg); }
  78% {
    transform: scale(1.3) rotate(-20deg); }
  100% {
    transform: scale(1.1) rotate(-20deg); } }

/*# sourceMappingURL=styles.css.map */
