

$dark:#263238;

// Typography

$header-font: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$body-font: 'Raleway', sans-serif;
$other-font:'Pacifico', cursive;


$white:#fff;
$main:#92c4b5;
$feature:#ffa9a7;
$gold:#F8BF75;


