// Medkumo Colours
$blue:#2e3192;
$red:#cf0000;
$dark:#263238;
$light-pink:#e3c3e6;
$blue-gray:#b0bec5;

//default
$dark-blue:#0b0219;
$default-light: #edeff0;
$default-dark:#000000;


$gray: #cccccc;
$medium-gray: #f9f9f9;
$darkgray: #222222;

// Typography

$header-font: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$body-font: 'Raleway', sans-serif;
$other-font:'Pacifico', cursive;


$sm:4%;
$md:8%;
$lg:10%;

$white:#fff;
$main:#92c4b5;
$feature:#ffa9a7;
