// Import all the partial files
@import 'variables';
@import 'mixins';
@import url('https://d2ta2fpo91apla.cloudfront.net/fontawesome-free-5.9.0-web/css/all.min.css');
@import url('https://fonts.googleapis.com/css?family=Pacifico|Poppins:300,400,700|Raleway:300,400,600&display=swap');

html, body {
    height: 100%;
	margin: 0;
	max-width:2000px;
	// overflow-x:hidden;
	margin:0 auto;
	min-height:100px;
	-webkit-overflow-scrolling: touch;
	color:$dark;
}




/**********Universal*****************/
.bg-white { background-color: $white; }
p{ font-family:$body-font;   font-size:16px; margin:10px 0;}

p span,p a,a{  color:$dark;}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;  
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom:20px;
  color:$dark;
}

h1{
	z-index: 1;
	font-size:50px;	  
	@media (max-width:767px){
		font-size:40px;
	}
	@media (min-width:990px) and (max-width:1200px){
		font-size: 43px;
	}
}


h2{
	font-size:40px; 
	@media (max-width:990px){
		font-size:30px;
	}
}
h3{
	font-size:30px;
	font-weight: 300; 
}

.pic-frame {
	img{
		position: absolute;
	}	
}

.responsive-img img{ width:100%; height:auto;}

.fit img {
	width:100%; 
	height:100%;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: 50% 50%;
	object-position: 50% 50%;}


.text-uppercase{font-family:$header-font;font-weight: bold;}
.container{
	position: relative;
	z-index: 1;
}


/**********media *****************/
@media (min-width:768px){
	.height{
		height:100vh;
	}
}

  .container{
	@media(min-width:1200px){
		max-width:1240px;
	}
}


.page-wrapper{
	overflow-x: hidden;
	overflow-y:hidden;
}


/**********Universal*****************/
.cover {
	width: 100%;
	height: 100%;
	// background:$main;
	position: absolute;
  }
  .clip-me{
	  background-color:$dark;
	  padding:0;
  }

/**********Universal feature*****************/
.feature-cont{
	background-color: #fff;
	// border-radius:  10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

	.img-area{
		overflow:hidden;
  	}
  
	.text-area{
		padding:20px 40px;
  	}
}
 	a.circle{
		position: absolute;
		right: 20px;
		bottom: -30px;
		display: flex;
		width: 60px;
		height: 60px;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		border-radius: 100%;
		background-color: $feature;
		color: #fff;
		transition: all .5s ease-in-out;
		z-index: 2;
		&:hover{
			text-decoration: none;
			background-color: $dark;
			right:-10px;
		}
	  }
	  
	/*************start******************/

	.navbar{
		img{
			max-height:60px;
		}
		background-color:lighten($main, 20%);
		a{color:#000;}
		a:hover{color:#fff !important}
	}

	.navbar-light .navbar-toggler{
		border:none;
	}
	  .hero{
		padding-top:calc(100px);
		position: relative;
		&::before,
		&::after{
			display: block;
			position: absolute;
			content:'';
			z-index: -1;
		}

		.hero-intro{
			@media (max-width:990px){
				padding-bottom:40px;
			}
		}
		.small-text{
			font-family:$other-font;
			font-size:1.7em;
			color:$feature;
			letter-spacing: 2px;
		}
	
		&::before{
			width:100%;
			height:calc(100% - 100px);
			background-color:lighten($main, 20%);
			top:0px;
		}
		h1{
			z-index: 1;
			&::after{
				content: 'your';
				position: relative;
				top:0;
				display: none;
				font-size:11vw;
				font-family:$other-font;
				color:lighten($main, 6%);
				font-weight:lighter;
				z-index: -10;
				line-height: 0;
				@media(min-width:1060px){
					display:block;
					top:-40px;
					position: absolute;
					left:-40px
				}
			}
		}
	}

/**********intro*****************/
.usp{
	padding:6% 0 4% 0;
	h4,p{
		text-align: center;
		color:$dark;
		
	}
	h4{padding:20px 10px 10px;
		font-weight: bold;
		font-size:1em
	}

	h4 span{
		border:1.5px solid $dark;
		padding:8px;
	}
	b{
		padding:8px;
		border:1.5px solid $dark;
		border-right:0;
	}

	figure{
		max-width:120px;
		margin:0 auto;
		svg{fill:$dark}
		.green{fill:$main;}
		.pink{fill:$feature;}
		.gold{fill:$gold;}
	}
	
	.container{
		@media (max-width: 990px) and (min-width:768px){
			max-width: 100%;
		}
	}

	@media (min-width:1200px){
		p{padding:0 20px;}
	}
}


#intro{
position: relative;
z-index: 1;
margin:6% 0;
	.container-fluid{
		padding:8% 4%;
	}
	.container-fluid > .row{
		@media (max-width:767px){
			flex-direction: column-reverse;
		}
	}

	.row.inner{	
		padding:8%;	
		@media (min-width:1200px){
			padding:0;
			padding-left:8%;
		}
	}


	h2, p{
		color:#fff;
		padding-bottom:8%;
		@media(max-width:1200px) and (min-width:990px){

			max-width:80%;
			margin:0 auto;
		}
	}

	.text-area p{
		color:$dark;
	}

	.small-text{
		font-family:$other-font;
		font-weight:lighter;
		font-size:1.7em;
		color:$main;
		letter-spacing: 2px;
		font-size:9vw;
		position: absolute;
		top:-100px;
		z-index: 2;
	}


	&::after{
		display: block;
		position: absolute;
		content:'';
		z-index: -1;
		background-color:$dark;
		
		width:calc(100% - 8%);
		left:0;
		right:8%;
		height:100%;
		top:0;
		@media(max-width:1200px){
			width:100%;
			left:0;
		}
	}
}

.products{
	padding-top:6%;
	padding-bottom:8%;
	.img-fluid {
		max-width:70% !important;
	}
	h2{
		position: relative;
		padding-top:40px;
		padding-bottom:8%;
		z-index: 1;
		&::after{
			content: 'your style';
			position: absolute;
			top:0;
			display: block;
			font-size:10vw;
			font-family:$other-font;
			font-weight:lighter;
			color:lighten($feature, 6%);
			z-index: -10;
			line-height: 0;
			width:100%;
			@media(min-width:768px){
				top:-40px;
			}
		}
	}
	h4{
		line-height: 50px;
		font-weight: bold;
		font-size:1em;
	}

	h4 span{
		border:1.5px solid $dark;
		padding:8px 12px 8px;
	}
	b{
		padding:8px;
		border:1.5px solid $dark;
		border-right:0;
	}
	h4 .fas{padding-left:10px;}

	a{
		
		background-color:#fff;
		span,b{
			transition:all .5s ease-in-out;
		}


	&:hover{		
			text-decoration:none;
			span,b{
				color:#fff;
				transition:all .5s ease-in-out;
				background-color: $main;
			}
		}
	}
}


.full-img-feature{
	.fit{
		max-height:80vh;
		padding:0;
		overflow:hidden;
	}
}


.touch {
	.testimonials .scroll-left {
		-ms-flex-wrap: wrap !important;
		flex-wrap: wrap !important;
		div{
			padding-bottom:30px;
		}
	}
}

.testimonials{
	position: relative;
	background-color:$dark;
	h2{color:#fff}
	.row:first-of-type{
		color:#fff;
		padding:12% 0 8%;
		p{
			max-width: 800px;
			margin:0 auto;
		}
	}

	.scroll-left{
		padding-bottom:4%;
		div{
			background-color:$main;
			margin-right:20px;
			padding:40px 60px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			h3{
				font-family:$other-font;
			}
			img{
				width:80px;
			}
		}

		.other{
			padding:0;
			img{width:100%
			}
		}

		.fas{color:#fff;}
		.fa-quote-left{padding-right:10px;}
		.fa-quote-right{
			position: absolute;
			margin-left:10px;
		}

		@media (min-width:1020px){
			-ms-flex-wrap: nowrap!important;
			flex-wrap: nowrap!important;
		}
	}

	&::after{
		display: block;
		position: absolute;
		content:'';
		background-color: #fff;
		width:100%;
		height:150px;
		left:0;
		bottom:0;
	}
}


.special-feature{
	background: #fff;
	padding-bottom:8%;
	padding-top:10%;

	.double-cont{
		p{
			padding:20px 0 40px;
		}

		@media (min-width:768px){
			padding-left:40px;
		}
	}
	svg{
		z-index: -1;
		position: absolute;
		width: 400px;
		height: 400px;
		left: -150px;
		top: -150px;
		transform-origin: left;
		.gold{
			fill:#F8BF75;
		}
		
	}

}
  
  @media (max-width:992px){
	.special-feature .container > .row{
	  flex-direction: column-reverse
	}
  }

.cta{
	.small-text{
		font-size:6vh;
		font-family:$other-font;
		color:$feature;
		text-align: center;
	}
	ul{
		list-style: none;
		display: flex; 
		padding-left: 0;
		margin-top: 20px;
		justify-content: center;
		li{
    padding-right: 40px;
		}
		a:hover{
			color:$feature;
		}
	}
}




#footer{
	padding:4% 0 4%;
	a:hover{
		text-decoration:none;
		color:$main;
	}
/* FOOTER STYLES GENERAL--------*/
.coln{
	p{
	   font-size: 14px; 
	   padding:14px 10px ;
	   margin:0
	}
	img{
	  max-width:200px;
	  margin:0 auto;
	  width:100%;
	}
	ul{
	  padding-left:0;
	  margin:16px 0;
	  list-style: none;
	  li{
		padding:10px 0;
	  }
	}
  }
  
	.coln{
	  border-top:2px solid #333;
	  border-bottom:2px solid #333;
	  padding:0;
	}
  
	.coln:last-of-type{  
	  ul{
		padding-left:16px;
	  }
	  ul li{
		display: inline-block;
		padding-right:30px;
	  }
	  .row{
		border-left:2px solid #333;
		height:100%;
		width:100%;
		margin:0;
	  }
	  .row div:first-of-type{
		border-bottom:2px solid #333;
	  }
	}
  
	// media queries
  
	@media (max-width:990px){
		  .box-grid{
		padding:20px;
	  }
	  .coln{
		 text-align: center;     
	  }
	  .coln:first-of-type{
		padding:20px;
	  }
	}
  
	@media (max-width:767px){
  
	  .coln{
		 text-align: center;
	   }
  
	  .coln ul li{
		width:100%;
	  }
	  .coln{
		border-top:none;
	  }
	  .coln:last-of-type .row{
		border-right:2px solid #333;
	  }
	}
  
}

.return{
	a{
	display: flex;
    justify-content: center;
	}
	p{display: block;}
	padding-bottom:6%;
}