// Import all the partial files
@import 'variables';
@import 'mixins';
@import url('https://d2ta2fpo91apla.cloudfront.net/fontawesome-free-5.9.0-web/css/all.min.css');
@import url('https://fonts.googleapis.com/css?family=Pacifico|Poppins:300,400,700|Raleway:300,400,600&display=swap');

html, body {
    height: 100%;
	margin: 0;
	max-width:2000px;
	margin:0 auto;
	min-height:100px;
	-webkit-overflow-scrolling: touch;
	color:$dark;
}



// text*****************/
p{ font-family:$body-font;   font-size:16px; margin:10px 0;}
p span,p a,a{  color:$dark;}
h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;  
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom:20px;
  color:$darkest;
}
h1{
	z-index: 1;
	font-size:50px;	  
	@media (max-width:767px){
		font-size:40px;
	}
	@media (min-width:990px) and (max-width:1200px){
		font-size: 43px;
	}
}
h2{
	font-size:40px; 
	@media (max-width:990px){
		font-size:30px;
	}
}
h3{
	font-size:30px;
	font-weight: 300; 
}
.text-uppercase{font-family:$header-font;font-weight: bold;}



// images & media*****************/
.fit {
	img {
		width:100%; 
		height:100%;
		-o-object-fit: cover;
		object-fit: cover;
		-o-object-position: 50% 50%;
		object-position: 50% 50%;
	}
	@media (max-width:767px){
		padding:0;
	}
}

.cover {
	width: 100%;
	height: 100%;
	position: absolute;
  }
  .clip-me{
	  background-color:$other;
	  padding:0;
  }



// structure*****************/
.page-wrapper{
	overflow-x: hidden;
	overflow-y:hidden;
}
.container{
	position: relative;
	z-index: 1;
	@media(min-width:1200px){
		max-width:1140px;
	}
}

// fade animation*****************/
.navbar,
.page-wrapper{
	opacity:1;
	-webkit-animation-name: example; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
	animation-name: example;
	animation-duration: 2s;
}

@-webkit-keyframes example {
	0%   {opacity:0; }
	100% { opacity:1;}
}
@keyframes example{
	0%   {opacity:0; }
	100% { opacity:1;}
}

/**********circle button*****************/

a.circle{
	position: absolute;
	right: 20px;
	bottom: -30px;
	display: flex;
	width: 60px;
	height: 60px;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	border-radius: 100%;
	background-color: $darkest;
	color: #fff;
	transition: all .5s ease-in-out;
	z-index: 2;
	&:hover{
		text-decoration: none;
		background-color: $feature !important;
		right:-10px;
	}
	}

/**********svg*****************/
svg{
fill:$dark; 
overflow:visible;
	.main{fill:$main;  animation: move-one 10s ease-in-out infinite;}
	.feature{fill:$feature;  animation: move-two 10s ease-in-out infinite;}
	.other{fill:$other;  animation: move-three 10s ease-in-out infinite;}


	path{
		position: absolute;
		top: 0;
		left: 0;
		width:100px;
		z-index: -1;
		transform-origin: 50% 50%;
	}
}
	  
	/*************start******************/

.navbar{
	a{color:#000;}
	a:hover{color:$feature !important}
	svg{fill:$darkest;height:50px; overflow:visible;}
	.logo-circle{fill:$main;	animation: move-logo 6s ease-in-out infinite;}
	button:focus,
	.navbar-toggler{
		border-width:0 !important; 
		outline-width: 0 !important;
		i{color:$other;font-size:28px;}
	}
	.navbar-collapse.collapse.show{
		background-color:inherit;		
	}

	
	.navbar-nav{
		align-items: center;
		justify-content: center;
		height: calc(100vh - 96px);
		a{font-size:30px;}
	  }
	  @media(max-width:767px){
		  background-color:#fff
	  }
}

/*************repeat sections******************/
.feature-cont{
	position: relative;
	padding:0;

	.img-area{overflow:hidden;}	
	.text-area{
		p{	
			font-weight:bold; 
			font-size:20px;
		}
		padding:20px 40px;
		position: relative;
	}


	@media (min-width:768px){
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
		0 10px 10px rgba(0,0,0,0.22);
	}
}


/*************hero******************/
.hero{
	padding-top:100px;
	position: relative;
	.small-text{
		font-family:$other-font;
		font-size:1.7em;
		color:$feature;
		letter-spacing: 2px;
	}
	h1{
		z-index: 1;
		&::after{
			content: 'your';
			position: absolute;
			top:-10px;
			left:0px;
			font-size:180px;
			font-family:$other-font;
			color:lighten($main, 6%);
			font-weight:lighter;
			z-index: -10;
			line-height: 0;
			@media(min-width:1060px){
				display:block;
				top:-40px;				
				left:-40px
			}
		}
	}
	.circle{background-color:$other; z-index: 10;}

	.feature-cont{
		background-color: $main;
		p{color:#fff}
	}

	@media (min-width:576px){
		padding:100px 0;
		.feature-cont{
			background-color: $darkest;
		}
	}

	@media (max-width:767px){
		.bottle {
			text-align: center;;
			img{max-height:500px}
		}
	}

	@media (min-width:768px) and (max-width:1024px){
		padding:120px 20px 60px;
	}


}
////////////////////////////////////////////////
#intro{
	position: relative;
	h2, p{
		color:#fff;
	}
	h2{margin:30px 0}

	.feature-cont{
		background-color:$main;
		a.circle{background-color:$other; z-index: 10;}
		a.circle:hover{background-color:$feature;}
	}

	&::after{
		display: block;
		position: absolute;
		content:'';
		z-index: -1;
		background-color:$darkest;
		
		width:calc(100% - 8%);
		left:0;
		right:8%;
		height:100%;
		top:0;
		@media(max-width:1200px){
			width:100%;
			left:0;
		}
	}


	@media (min-width:500px) and (max-width:991px){
		padding:40px 0 0 0;
		.row.inner {padding:40px 20px}
		.fit{padding:0;}
		.container-fluid > .row{
			flex-direction: column-reverse;
		}
	}

	@media (min-width:992px){
		padding:8% 0;
		.row.inner {padding:40px 20px 0}
		
	}

}

/**********usp*****************/
.usp{
	padding:6% 0 4% 0;

	h4,p{
		text-align: center;
		color:$dark;
		
	}
	h4{padding:20px 10px 10px;
		font-weight: bold;
		font-size:1em
	}

	h4 span{
		border:1.5px solid $dark;
		padding:8px;
	}
	b{
		padding:8px;
		border:1.5px solid $dark;
		border-right:0;
	}

	figure{
		max-width:200px;
		padding:20px;
		margin:0 auto;

	}
	
	@media (min-width:1200px){
		p{padding:0 20px;}
	}
}

/*********products*****************/


.products{
	background-color:#f2f2f2;
	padding-top:16%;
	padding-bottom:8%;
	text-align: center;
	.img-fluid {
		max-width:70% !important;
		@media (max-width:767px){
			max-height:500px;
		}
	}
	h2{
		position: relative;
		padding-top:40px;
		padding-bottom:8%;
		z-index: 1;
		&::after{
			content: 'your style';
			position: absolute;
			top:0;
			display: block;
			font-size:10vw;
			font-family:$other-font;
			font-weight:lighter;
			color:$main;
			z-index: -10;
			line-height: 0;
			width:100%;
			@media(min-width:768px){
				top:-40px;
			}
		}
	}
	a{		
		background-color:#fff;
		overflow:hidden;
		h4{
			line-height: 50px;
			font-weight: bold;
			font-size:1em;
			span{
				border:1.5px solid $darkest;
				padding:8px 12px 8px;
			}
			b{
				padding:8px;
				border:1.5px solid $dark;
				border-right:0;
			}
			.fas{padding-left:10px;}
		}

		span,b{
			transition:all .5s ease-in-out;
		}
		&:hover{		
			text-decoration:none;
			span,b{
				color:#fff;
				transition:all .5s ease-in-out;
				background-color: $feature;
				border-color:#f2f2f2;
			}
		}
	}
}


.full-img-feature{
	background-color:$other;
	.fit{
		width: 100%;
		padding: 0;
		overflow: hidden;
	}
}

// touch screen
.touch {
	.testimonials {
		margin-bottom:60px;
		.scroll-left {
			-ms-flex-wrap: wrap !important;
			flex-wrap: wrap !important;
			div.col-md-5{
				min-width:50% !important;
				padding-bottom:0px;
				margin-right:0;
				p:last-of-type{
					padding-bottom:30px;
				}
			}
		}
		&::after{
			height:0px;
		}
		
	}
}

.testimonials{
	background-color:$darkest;
	position: relative;
	h2{color:#fff}

	// h2 section
	.row:first-of-type{
		padding:12% 0 12%;
		p{
			max-width: 800px;
			margin:0 auto;
			color:#fff;
		}
	}

	.scroll-left{
		.pink{
			background-color: $main;
			h3,p{color:$darkest;}
		}
		
		div{
			background-color:$feature;
			margin-right:20px;
			padding:40px 60px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			h3{
				font-family:$other-font;
				margin-top:20px;
				color:#fff;
			}
			p{color:#fff; text-align:center;}
			img{
				width:80px;
			}
			@media(max-width:767px){
				padding:40px 20px;
			}
		}
		
		.other{
			padding:0;
			img{width:100%}
		}

		@media (min-width:1020px){
			-ms-flex-wrap: nowrap!important;
			flex-wrap: nowrap!important;
		}
	}

	&::after{
		display: block;
		position: absolute;
		content:'';
		background-color: #fff;
		width:100%;
		height:150px;
		left:0;
		bottom:0;
	}
}


.cta{
	padding-top:6%;
	h2{font-family:$other-font;}
	svg{
		z-index: -1;
		position: absolute;
		width: 400px;
		height: 400px;
		top:100px;
		transform-origin: left;
		overflow:visible;
		.pink{
			fill:$feature; opacity: 0.8; animation: move-four 10s ease-in-out infinite;
			transform-origin: 50% 50%;
		}		
	}	
	ul{
		list-style: none;
		display: flex; 
		padding-left: 0;
		margin-top: 20px;
		
		i{color:$main;}
		li{padding-right: 40px;}
		i:hover,
		a:hover{color:$darkest;}
	}
	@media (max-width:767px){
		.row{
			text-align: center;
			ul{justify-content: center;}
		}
	}
	@media (max-width:991px){
		svg{max-width:200px;top:0}
	}
}


  
  

#footer{
	padding:4% 0 4%;

	a:hover{
		text-decoration:none;
		color:$main;
	}
/* FOOTER STYLES GENERAL--------*/
.coln{
	p{
	   font-size: 14px; 
	   padding:14px 10px ;
	   margin:0
	}
	img{
	  max-width:200px;
	  margin:0 auto;
	  width:100%;
	}
	ul{
	  padding-left:0;
	  margin:16px 0;
	  list-style: none;
	  li{
		padding:10px 0;
	  }
	}
  }
  
	.coln{
	  border-top:1px solid;
	  border-bottom:1px solid ;
	  border-color:$darkest;
	  padding:0;
	}
  
	.coln:last-of-type{  
	  ul{
		padding-left:16px;
	  }
	  ul li{
		display: inline-block;
		padding-right:30px;
	  }
	  .row{
		border-left:1px solid ;
		height:100%;
		width:100%;
		margin:0;
	  }
	  .row div:first-of-type{
		border-bottom:1px solid ;
	  }
	}
  
	// media queries
  
	@media (max-width:990px){
		  .box-grid{
		padding:20px;
	  }
	  .coln{
		 text-align: center;     
	  }
	  .coln:first-of-type{
		padding:20px;
	  }
	}
  
	@media (max-width:767px){
  
	  .coln{
		 text-align: center;
	   }
  
	  .coln ul li{
		width:100%;
	  }
	  .coln{
		border-top:none;
	  }
	  .coln:last-of-type .row{
		border-right-width: 0;
		border-left-width: 0;
	  }
	}
  
}

.return{
	a{
	display: flex;
    justify-content: center;
	}
	p{display: block;}
	padding-bottom:20px;
}

@keyframes move-one {
	0%   { transform: scale(1); }
	20%  { transform: scale(0.7, 1) rotate(160deg); }
	35%  { transform: scale(0.8, 1)  rotate(160deg); }
	66%  { transform: scale(0.9) rotate(-20deg); }
	86%  { transform: scale(0.9)  rotate(-20deg); }
	100% { transform: scale(1) }
  }
  @keyframes move-two {
	0%   { transform: scale(1)}
	40%  { transform: scale(0.8, 1) rotate(160deg); }
	50%  { transform: scale(0.8, 1) rotate(160deg); }
	60%  { transform: scale(1) rotate(-20deg); }
	80%  { transform: scale(0.6) rotate(-20deg); }
	100% { transform: scale(1)  }
  }
  @keyframes move-three {
	0%   { transform: scale(1); }
	20%  { transform: scale(0.9)  rotate(-20deg); }
	35%  { transform: scale(0.9, )  rotate(160deg); }
	66%  { transform: scale(0.8,1) rotate(-20deg); }
	86%  {  transform: scale(0.7, 1) rotate(160deg);}
	100% { transform: scale(1) }
  }

  @keyframes move-four {
	0%   { transform: scale(1) }
	38%  { transform: scale(0.8, 1) rotate(160deg); }
	60%  { transform: scale(0.9, 1) rotate(140deg); }
	78%  { transform: scale(1.3) rotate(-20deg); }
	90%  { transform: scale(1.1) rotate(-20deg); }
	100%   { transform: scale(1) }
  }

  @keyframes move-logo {
	0%   { transform: scale(1) }
	78%  { transform: scale(1.15)}
	90%  { transform: scale(1.1)  }
	100%   { transform: scale(1) }
  }


  /* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* =Preloader */

#preloader {
	display:none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 2001;
	background-color: #212121;
	color: #ffffff; }
	#preloader .txt {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  -webkit-transform: translate(-50%, -50%);
		  -ms-transform: translate(-50%, -50%);
			  transform: translate(-50%, -50%); }
	#preloader .txt-perc {
	  font-size: 35px;
	  font-family: 'Roboto Condensed', Helvetica, Helvetica Neue, Arial, sans-serif;
	  opacity: 1;
	  margin: 0 0 6px 0;
	  max-width: 400px;
	  text-align: center; }
	#preloader .progress {
	  width: 100px;
	  height: 3px;
	  background-color: rgba(255, 255, 255, 0.2);
	  margin: 0 auto 15px auto; }
	  #preloader .progress span {
		display: block;
		width: 0;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.8); }


	// #preloader.is-hidden {
	//   visibility: hidden;
	//   opacity: 0; }
  
//   .is-loading {
// 	overflow: hidden; }

